/* IMPOSTAZIONI GENERALI */
body {
  background-image: url(/assets/img/sfondo.png);
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  display: block;
}

/* HEADER */
header {
  font-size: 114%;
  box-shadow: 2px 4px 5px 1px rgb(75, 75, 75);
  display: block;
  text-align: center;
  background: linear-gradient(#019cbe, #034658);
  padding: 20px; /* Padding per spaziatura interna */
}
.bianco {
  color: aliceblue;
}
header nav ul li a {
  text-decoration: none;
  color: aliceblue;
}
header div p {
  padding: 5%;
  text-transform: uppercase;
  font-size: 73%;
}
header nav ul li {
  padding: 1%;
  text-transform: uppercase;
  font-size: 83%;
}
/* MAIN */
main {
  box-shadow: 2px 0px 5px 1px rgb(75, 75, 75);
}

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center; /* Allinea il testo al centro */
}

caption {
  font-style: italic;
  margin-bottom: 10px;
}

th {
  background-color: rgb(15, 130, 238);
  color: white;
  width: 50px; /* Larghezza dei th */
  height: 50px; /* Altezza dei th */
  border: 1px solid white; /* Bordo bianco */
  line-height: 50px; /* Centra il testo verticalmente */
}

th:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

tr:nth-child(even) td {
  background-color: #f2f2f2;
}

tr:nth-child(odd) td {
  background-color: white;
}

.linea-blu {
  border-bottom: 1px solid rgb(15, 130, 238);
  margin-bottom: auto;
}

/* FORM */
.contenitoreiframe {
  width: 100%;
  text-align: center;
}

.iframe-adattabile {
  width: 90%;
  height: 180px;
  border-radius: 10%;
  margin: 0 auto;
}
/* section */
.novità-section {
  text-align: center;
  background-color: #f2f2f2;
}

.novità-section h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.novità-section p {
  font-weight: bold;
  /text-align: left;
}

.novità-section form {
  margin-top: 20px;
}

.novità-section form input {
  border-bottom: 1px dotted black;
  margin-right: 10px;
  background-color: transparent;
}

.novità-section form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.novità-section form button:hover {
  background-color: #0056b3;
}

/* ELEMENTI NELL' ASIDE */
aside {
  box-shadow: -2px 4px 5px 1px rgb(75, 75, 75);
}
body aside h2 {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 7%;
}
aside div {
  background-color: #dfe2e4;
  margin: 4%;
  padding: 15%;
  position: relative; /* Assicura che il div genitore abbia una posizione diversa da static */
}
.data {
  position: absolute;
  bottom: 10%;
  right: 10px;
}
aside div a {
  position: absolute;
  top: 8px;
  left: 10px;
  color: #0fa5ca;
}
.p {
  position: absolute;
  top: 25px;
  left: 10px;
}
/* FOOTER */
footer {
  box-shadow: 2px 4px 5px 1px rgb(26, 25, 25);
  background: linear-gradient(#005665, #2f3838);
  text-align: center;
  font-size: 94%;
  padding: 3%;
  color: white;
}
footer address a {
  color: #ff00ff;
}
